
@{
    ViewData["Title"] = "Portfolio";
}

<h2>Portfolio</h2>

<div class="container">
    <div class="mySlides">
        <div class="text">Picture of Myself</div>
        <img src="~/images/James.jpg" style="width:70%">
    </div>
</div>
